.centroplanes{
    width: 99%; height:99%;
    
}
.peco{
    width: 400px; height: 400px;
    border: 1px solid yellow;
    color: white;display:inline-block;
    text-align: center;
    
}
.pest{
    width: 400px;height: 400px;
    border: 1px solid rgb(255, 0, 0);
    color: white;display: inline-block;
    text-align: center;
}
.ppre{
    width: 400px;height: 400px;
    border: 1px solid yellow;
    color: white;text-align: center;
    
}
