.centroplanes{
    width:1000px;margin-left:240px;
    
    
    
}
.peco{
    width:300px; height: 360px;
    border: 2px outset #f4c33a;
    color: white;display:inline-block;
    text-align: center;border-radius: 10px;
    border-top: none;border-bottom: none;
    margin-top:10px;margin-bottom:10px;
    background-color: black;
    
}
.pest{
    width:300px;height: 360px;
    border:2px outset #f4c33a;
    color: white;display: inline-block;
    text-align: center;margin-left:45px;
    border-radius: 10px;border-top: none;border-bottom: none;
    background-color: black;
}
.ppre{
    width:300px;height: 360px;
    border: 2px outset #f4c33a;
    color: white;text-align: center;
    float: right;display:inline-block;
    border-radius: 10px;border-top: none;border-bottom: none;
    margin-top:10px;margin-bottom:10px;z-index: 1;
    background-color: black;
    
}
