<!DOCTYPE html>
<html lang="es">
<head>
<!--Metas-->
	<meta charset="utf-8"/>	
<!--Css-->
	<link rel="stylesheet" type="text/css" href="../css/hercules.css" />
	<link rel="stylesheet" type="text/css" href="../css/monitos.css">
	<link rel="stylesheet" type="text/css" href="/css/clases.css">
	<link rel="icon"  href="../logolisto.ico">
<!--Js-->


	
</head>

<body>
<div id="contenedor">
	<div class="cabeza">
		<img class="logo" src="../img/logo.png">

		<div id="cabecera">
			<h1>CLASES</h1>
		</div>

		<div id="navegacion">
            <div class="menu">
				<a class="menu" href="../index.html">Inicio</a>
				<a class="menu" href="../templates/sedes.html">Sedes</a>
				<a class="menu" href="../templates/clases.html">Clases</a>
				<a class="menu" href="../templates/planes.html">Planes </a>
				
				<div class="navicon">
					<input type="checkbox" id="toggle">
					<label for="toggle" class="button">☰</label>
	
					<nav class="nav">
						<a href="../templates/registro.html">Registro/Iniciar</a>
                        <a href="/templates/FaQ.html">FqA</a>
                        <a href="#">Trabaja Con Nosotros</a>
					</nav>
				</div>
			</div>
           
		</div>

	</div>

	<div class="clases">
        <div class="tiposdeclases">
        	<div class="Zumba">
        	    <h2>Zumba</h2>
        	        <h3>S/.15</h3>
        	    <p>
					<h3>
					 Es una disciplina deportiva que se imparte en clase dirigida en el cual se realiza
					 ejercicios aeróbicos al ritmo de música látina.
					</h3>
					<iframe class="videozumba" src="https://www.youtube-nocookie.com/embed/Djcl1wikmLw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</p>
				<p>
					<button class="buttcomprar">Adquirir</button>
				</p>	
			</div>
			<div class="Yoga">
        	    <h2>Yoga</h2>
        	        <h3>S/.20</h3>
        	    <p><h3>El yoga es una práctica que conecta el cuerpo, la respiración y la mente. 
					 Las posturas realizadas mejoran la salud fisica y mental.
					</h3>
					<iframe class="videoyoga" src="https://www.youtube.com/embed/E1K0CiGmBxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</p>
				<p>
					<button class="buttcomprar">Adquirir</button>
				</p>	
			</div>
			<div class="Spinning">
        	    <h2>Spinning</h2>
        	        <h3>S/.10</h3>
        	    <p><h3>
					 Es un ejercicio aeróbico y cardiovascular que se realiza sobre una bicicleta
					 estática que se trabaja las piernas y los glúteos. 
					</h3>
					<iframe class="videospinning" src="https://www.youtube.com/embed/dfJFeNvp5Fc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</p>
				<p>
					<button class="buttcomprar">Adquirir</button>
				</p>	
			</div>
		</div>
		<div class="tiposdeclases2">	
			<div class="Crossfit">
        	    <h2>Crossfit</h2>
        	        <h3>S/.12</h4>
        	    <p><h3>Es un sistema de acondicionamiento físico que se basa en ejercicios que
					 varían de forma constante, con movimientos funcionales, ejecutados a alta intensidad.
					</h3>
					<iframe class="videocrossfit" src="https://www.youtube.com/embed/BylwD1JdfRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</p>
				<p>
					<button class="buttcomprar">Adquirir</button>
				</p>	
			</div>
			<div class="Bodycombat">
        	    <h2>Bodycombat</h2>
        	        <h3>S/.12</h3>
        	    <p><h3>Consiste en realizar movimientos de diferentes artes marciales a través de coreografías con música en la que se pueden
					 ejercitar brazos, hombros, espalda, piernas y abdominales.
					</h3>
					<iframe class="videobodycombat" src="https://www.youtube.com/embed/lqQ6kZJbTik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</p>
				<p>
					<button class="buttcomprar">Adquirir</button>
				</p>	
			</div>
			<div class="Step">
        	    <h2>Step</h2>
        	        <h3>S/.15</h3>
        	    <p><h3>Actividad física con secuencias de ejercicios sobre un escalón, 
					 denominado Step. Principalmente se asocia con beneficios cardiovasculares
					 y musculares.
					</h3>
					<iframe class="videostep" src="https://www.youtube.com/embed/SPLeqfyYQxE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</p>
				<p>
					<button class="buttcomprar">Adquirir</button>
				</p>	
			</div>
		</div>
	</div>

	<div id="pie">
		<div class="social">
			<div class="icon"><a class="icon-facebook2" href="https://www.facebook.com/"></a></div>
			<div class="icon"><a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a></div>
			<div class="icon"><a class="icon-whatsapp"; href="productos.html"></a></div>
			<div class="icon"><a class="icon-google-plus3" href="google.cl"></a></div>
			<div class="icon"><a class="icon-twitter" href="https://twitter.com/87b y"></a></div>
			<div class="icon"><a class="icon-linkedin" href="https://www.linkedin.com/"></a></div>
		</div>
		<div class="pieresenas">
            
			<a>Términos y condiciones</a><br>
			<a>Derechos son reservados</a>
		</div>
		
	</div>
</div>
<br>
</body>

</html>