<!DOCTYPE html>
<html lang="es">
<head>
<!--Metas-->
	<meta charset="utf-8"/>	
<!--Css-->
	<link rel="stylesheet" type="text/css" href="../css/hercules.css" />
	<link rel="stylesheet" type="text/css" href="../css/monitos.css"  />
    <link rel="stylesheet" href="text/css" href="/css/FqA.css"/>
	<link rel="icon"  href="/logolisto.ico">
<!--Js-->


	
</head>

<body>
<div id="contenedor">
	<div class="cabeza">
		<img class="logo" src="/img/logo.png">

		<div id="cabecera">
			<h1>FaQ</h1>
		</div>

	</div>
<br>
<br>
<br>
<br>
	<div class="centro">
        <div class="main-content ">
            <h2>PREGUNTAS FRECUENTES Y RECOMENDACIONES</h1>

            <div class="brcm-pagina-element" data-brcm-type="PaginaElementGeneric" data-brcm-id="122">
    <div class="brcm-generic-element-with-images-on-the-right">



    <section class="form-preguntas">
        <h3><strong>Recomendaciones</strong></h3>
        <ul>
        <li>Antes de empezar a hacer ejercicio físico con asiduidad, te recomendamos acudir al médico para una buena revisión. Él es el mejor profesional para indicarte qué tipo de actividad es la más adecuada para ti. Te recomendamos que empieces de forma gradual.&nbsp;</li>
        </ul>
        <ul>
        <li>Prepara un espacio &nbsp;adecuado para hacer la actividad (unos 2 metros<sup>2</sup>).</li>
        </ul>
        <ul>
        <li>Antes de visualizar los vídeos, lee con atención la información específica de cada sala.</li>
        </ul>
        <ul>
        <li>IMPORTANTE: Para un buen funcionamiento de la plataforma, aconsejamos cargar la página con el Navegador Google Chrome (actualizado)</li>
        </ul>
        <h3><strong>Preguntas frecuentes</strong></h3>
        <p><strong>¿Cuánto vale registrarse a ictiva?</strong><span style="font-family: Arial, sans-serif; font-size: 0.8em; line-height: 1.2em;">&nbsp;</span></p>
        <p>Nada. Es totalmente gratis.</p>
        <p><strong>¿Qué sesiones puedo ver después de registrarme a ictiva?</strong></p>
        <p>Podrás ver la primera sesión de cada una de las salas.</p>
        <p><strong>¿Cuántas sesiones puedo ver si me abono a ictiva?</strong></p>
        <p>Absolutamente todas. Todas las sesiones de todas las salas. ( + 500 videosesiones)</p>
        <p><strong>¿Cuántas veces puedo ver una sesión si estoy abonado/a a ictiva?</strong></p>
        <p>Todas las que quieras. Puedes entrar en cualquier sala en cualquier momento y repetir la sesión las veces que quieras.</p>
        <p><strong>¿Cómo se renueva mi abono a ictiva?</strong></p>
        <p>ictiva,&nbsp;funciona de igual modo que el de un gimnasio convencional. Cuando te abonas te estás suscribiendo por períodos iguales al contratado inicialmente y sin ningún tipo de permanencia obligatoria. Esto se especifica en las condiciones de uso que el cliente debe aceptar antes de abonarse.</p>
        <p><strong>Cuando el cliente paga a través de VISA (Banco Sabadell)</strong></p>
        <p>La condición de usuario abonado se renueva automáticamente por períodos iguales al contratado inicialmente, a menos que el usuario desee poner fin al contrato notificándolo en el plazo establecido para ello . Para desactivar el pago automático &nbsp;el usuario deberá desactivar la pestaña que se encuentra en el apartado "gestionar abono".<br>El abono a <strong>ictiva</strong> no conlleva ningún tipo de permanencia.&nbsp;</p>
        <p><strong>Cuando el cliente paga a través de la pasarela PayPal</strong></p>
        <p>El cliente puede ejercer el derecho de desistir del pago automático que se le ha activado en su cuenta PayPal, en dicha plataforma de pago</p>
        <p><strong>¿En qué dispositivos puedo ver las sesiones de ictiva?</strong></p>
        <p>En tu smartTV, ordenador, tablet o smartphone.</p>
        <p>Si quieres, puedes conectar tus dispositivos al televisor con un cable HDMI y así realizar las sesiones en el salón de tu casa. Consulta los <a href="https://www.ictiva.com/requisitos-tecnicos">requisitos técnicos.</a></p>
        <p><strong>¿Habrá sesiones nuevas?</strong></p>
        <p>En ictiva disponemos de un plató donde grabamos periódicamente sesiones nuevas. Por eso cada semana encontrarás novedades en alguna de las 21 salas.</p>
        <p><strong>A veces los vídeos tardan en cargarse, ¿cómo puedo solucionarlo?</strong></p>
        <p>Te ofrecemos las sesiones de ictiva en alta definición (HD) para que disfrutes de una experiencia de la máxima calidad. Sin embargo, si la velocidad de conexión no es la adecuada, esto puede hacer que tengas dificultades. Puedes desactivar la función HD clicando en el icono que aparece en la parte inferior derecha de la pantalla.</p>
        <p><strong>¿Qué hago si no veo los vídeos o no me cargan bien?</strong></p>
        <p>Nuestros vídeos se almacenan en la caché del ordenador, eso quiere decir que si alguna vez se ha cargado mal el vídeo (falta velocidad, problemas de conexión,etc..), posiblemente nos dé problemas para visualizarlo. Cuando pase esto, lo mejor es "borrar la caché o historial" (Borrar datos de navegación) y volver a cargar la página. IMPORTANTE:&nbsp;&nbsp;Para un buen funcionamiento de la plataforma, aconsejamos cargar la página con el Navegador Google Chrome (acutalizado)</p>
        <p><strong>¿Cómo sé el nivel que tiene cada sesión?</strong></p>
        <p>En la ficha de cada sesión hay un icono en la parte inferior derecha que indica el nivel. Hay cinco: n1, n2, n3, n4 y n5. Escoge el nivel que más se adecue a tus objetivos y condición física.&nbsp;</p>
        <p><strong>¿Puedo hacer una carpeta con mis clases favoritas?</strong></p>
        <p>Sí. En la ficha de cada sesión hay una estrella en la parte inferior derecha (al lado del icono que te indica el nivel). Clícala y todas las clases que hayas marcado quedaran agrupadas en "mi sesiones favoritas", dentro de "Mi taquilla".</p>
        <p><strong>¿Dónde puedo encontrar las dietas asociadas?</strong></p>
        <p>Cuando entres en cada sesión de la rutina de entrenamiento, encontrarás la descripción del ejercicio, la dieta asociada a ese Plan específico.</p>
        <p><strong>¿Dónde puedo comprar el material que utilizan los monitores?</strong></p>
        <p>Dentro de cada vídeo encontrarás el material que se utiliza en cada una de las sesiones y un link "comprar" que te lleva a la tienda.</p>
        <p>ictiva tiene un acuerdo con LTC (La tienda en casa) y es en esta web donde se hace la compra del producto</p>
        <p><strong>¿Cómo funciona el sistema de puntuación de los vídeos?</strong></p>
        <p>ictiva te quiere premiar por tu esfuerzo y es por ello que a través de su herrameinta MOTIVATOR, te da puntos por los vídeos realizados (no todos los vídeos suman puntos). Para saber si los vídeos tienen puntuación es MUY IMPORTANTE que dejes que el vídeo llegue hasta el final (que se pare por si solo).</p>
        <p>&nbsp;</p>
    </section>

<div class="brcm-clear"></div>
</div>            </div>


    </div>

	</div>
<footer>
	<div id="pie">
		<div class="social">
			<div class="icon"><a class="icon-facebook2" href="https://www.facebook.com/"></a></div>
			<div class="icon"><a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a></div>
			<div class="icon"><a class="icon-whatsapp"; href="productos.html"></a></div>
			<div class="icon"><a class="icon-google-plus3" href="google.cl"></a></div>
			<div class="icon"><a class="icon-twitter" href="https://twitter.com/87b y"></a></div>
			<div class="icon"><a class="icon-linkedin" href="https://www.linkedin.com/"></a></div>
		</div>
		<div class="pieresenas">
        	<a>¿Quienes somos?</a><br><br>
        	<a>Términos y condiciones</a>
    	</div>

    	<div class="pieresenas">
        	<a>FaQ</a><br><br>
	    	<a>Derechos son reservados</a><br><br>
	    	<a>Libro de reclamaciones</a>
		</div>

        .....<br><br><br><br><br><br><br><br>
		
		
	</div>
</div>
<br>
</footer>
</body>

</html>
