<!DOCTYPE html>
<html lang="es">
<head>
<!--Metas-->
	<meta charset="utf-8" />
<!--Css-->
	<link rel="stylesheet" type="text/css" href="../css/hercules.css" />
	<link rel="stylesheet" type="text/css" href="../css/monitos.css">
	<link rel="stylesheet" type="text/css" href="../css/sedes.css">
	<link rel="icon"  href="../logolisto.ico">
	<link rel="stylesheet" href="../css/medios.css">
	<link rel="stylesheet" href="../css/pagos.css">
<!--Js-->


</head>

<body>
<div id="contenedor">
	<div class="cabeza">
		<img class="logo" src="../img/logo.png">

		<div id="cabecera">
			<h1></h1>
		</div>

		<div id="navegacion">
            <div class="menu">
				<a class="menu" href="../index.html">Inicio</a>
				<a class="menu" href="../templates/sedes.html">Sedes</a>
				<a class="menu" href="../templates/clases.html">Clases</a>
				<a class="menu" href="../templates/planes.html">Planes </a>
				<title>MEDIOS DE PAGOS</title>
			
	
                </div>
			</div>
           
		</div>

	

	<div class="centro">
	    <div>
			<div class="barra">
				<div class="container">
					<div class="row">
						<div class="four columns icono icono1">
							<p>COBERTURA A NIVEL NACIONAL<br>
							Mas de 50 locales ¡Inscribete ya! Aprovecha nuestros descuentos</p>
						</div>
						<div class="four columns icono icono2">
							<p>SEGURIDAD TOTAL<br>
							Nuestra plataforma te permite pagar facil y comodamente</p>
						</div>
						<div class="four columns icono icono3">
							<p>TARJETA CREDITO/DEBITO<br>
							Aceptamos todas las tarjetas Visa, Mastercard, American express</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div>
			<header class="header">
				<div class="container">
					<div class="row"></div>
						</div>
						<div class="two columns u-pull-right">
						</div>
					</div>
			</header>
		
			<div class="banner">
				<div class="container"> 
					<div class="row">  
						<div class="six columns">
							<div class="contenido-banner">
							</div>
						</div>
					</div>
				</div>
			</div>
		
		
			<div class="lista-pagos" class="container">
				<h2 class="encabezado">TARJETAS VISA / MASTERCARD</h2>
				<div class="row">
					<div class="four columns">
						<div class="card">
							<img src="../img/INTERBANK.png" class="imagen-platillo u-full-width">
							<div class="info-card">
								<h4>INTERBANK</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"> <span class="u-pull-right"></span> </p>
								<h5><a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a></h5>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/bcp.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>BANCO DE CREDITO DEL PERU</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"> <span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/scotiabank.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>SCOTIABANK</h4>
								<p>Pago en dolares y soles</p>                      
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="four columns">
						<div class="card">
							<img src="../imG/mastercard.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>Mastercad</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/nacion.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>BANCO DE LA NACION</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/continental.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>BANCO CONTINENTAL</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
				</div>
				<div class="lista-pagos" class="container">
					<h3 class="encabezado">APPS DE PAGOS</h3>
					</div>
				<div class="row">
					<div class="four columns">
						<div class="card">
							<img src="../img/paypal.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>PAYPAL</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/yape.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>YAPE</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/lukita.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>LUKITA</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="four columns">
						<div class="card">
							<img src="../img/pagoefectivo.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>PAGO EFECTIVO</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/tunki.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>TUNKI</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/ligo.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>LIGO</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
				</div>
		
			</div>
		
	</div>
</div>		
			<footer class="footer"> 
				<div class="container">
					<div class="row">
						<div class="four columns">
							<nav class="menu">
								<a class="enlace" href="#"></a>
								<a class="enlace" href="#"></a>
								<a class="enlace" href="#"></a>
							</nav>
						</div>
						<div class="four columns">
							<nav class="menu">
								<a class="enlace" href="#"></a>
								<a class="enlace" href="#"></a>
								<a class="enlace" href="#"></a>
							</nav>
						</div>
					</div>
				</div>
			</footer>
		
			
		</div>
		</html>
	</div>

	<div id="pie">
		<div class="social">
			<div class="icon"><a class="icon-facebook2" href="https://www.facebook.com/"></a></div>
			<div class="icon"><a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a></div>
			<div class="icon"><a class="icon-whatsapp"; href="productos.html"></a></div>
			<div class="icon"><a class="icon-google-plus3" href="google.cl"></a></div>
			<div class="icon"><a class="icon-twitter" href="https://twitter.com/87b y"></a></div>
			<div class="icon"><a class="icon-linkedin" href="https://www.linkedin.com/"></a></div>
		</div>
		<div class="pieresenas">
        	<a>¿Quienes somos?</a><br><br>
        	<a>Términos y condiciones</a>
    	</div>

    	<div class="pieresenas">
        	<a>FaQ</a><br><br>
	    	<a>Derechos son reservados</a><br><br>
	    	<a>Libro de reclamaciones</a>
		</div>
			
	</div>
</div>
<br>
</body>

</html>
