<!DOCTYPE html>
<html lang="es">
<head>
<!--Metas-->
	<meta charset="utf-8" />
<!--Css-->
	<link rel="stylesheet" type="text/css" href="../css/hercules.css" />
	<link rel="stylesheet" type="text/css" href="../css/monitos.css">
	<link rel="stylesheet" type="text/css" href="../css/sedes.css">
	<link rel="icon"  href="../logolisto.ico">
<!--Js-->


</head>

<body>
<div id="contenedor">
	<div class="cabeza">
		<img class="logo" src="../img/logo.png">

		<div id="cabecera">
			<h1>GYM HERCULES</h1>
		</div>

		<div id="navegacion">
            <div class="menu">
				<a class="menu" href="../index.html">Inicio</a>
				<a class="menu" href="../templates/sedes.html">Sedes</a>
				<a class="menu" href="../templates/clases.html">Clases</a>
				<a class="menu" href="../templates/planes.html">Planes </a>
				
				<div class="navicon">
					<input type="checkbox" id="toggle">
					<label for="toggle" class="button">☰</label>
	
					<nav class="nav">
						<a href="#">Inicio</a>
						<a href="#">Registro/Iniciar</a>
						<a href="#">Trabajo con nosotros</a>
					</nav>
				</div>
			</div>
           
		</div>

	</div>

	<div class="centro">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Medios de Pagos</title>
			<link rel="stylesheet" href="../css/C.css">
			<link rel="stylesheet" href="../css/A.css">
		</head>
		<body>
			<header class="header">
				<div class="container">
					<div class="row"></div>
						</div>
						<div class="two columns u-pull-right">
							<ul>
								<li class="submenu">
									<img src="../img/cart.png">
									<div id="carrito">
										<table class="u-full-width">
											<thead>
												<tr>
													<th>Imagen</th>
													<th>Pedidos</th>
													<th>Precio</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<img src="../img/quemador.png" width="37">
													</td>
													<td>Quemador de grasa</td>
													<td>S/ 15</td>
													<td><a href="#" class="B" >X</a></td>
												</tr>
												<tr>
													<td>
														<img src="../img/suplemento1.png" width="37">
													</td>
													<td>Protein 100%</td>
													<td>S/ 90</td>
													<td><a href="#" class="" >X</a></td>
												</tr>
											</tbody>
										</table>
										<a href="#" class="button u-full-width">VACIAR CARRITO</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</header>
		
			<div class="banner">
				<div class="container"> 
					<div class="row">  
						<div class="six columns">
							<div class="contenido-banner">
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="barra">
				<div class="container">
					<div class="row">
						<div class="four columns icono icono1">
							<p>COBERTURA A NIVEL NACIONAL<br>
							Mas de 50 locales ¡Inscribete ya! Aprovecha nuestros descuentos</p>
						</div>
						<div class="four columns icono icono2">
							<p>SEGURIDAD TOTAL<br>
							Nuestra plataforma te permite pagar facil y comodamente</p>
						</div>
						<div class="four columns icono icono3">
							<p>TARJETA CREDITO/DEBITO<br>
							Aceptamos todas las tarjetas Visa, Mastercard, American express</p>
						</div>
					</div>
				</div>
			</div>
		
		
		
			<div class="lista-pagos" class="container">
				<h2 class="encabezado">MEDIOS DE PAGO</h2>
		
				<div class="row">
					<div class="four columns">
						<div class="card">
							<img src="../img/INTERBANK.png" class="imagen-platillo u-full-width">
							<div class="info-card">
								<h4>INTERBANK</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"> <span class="u-pull-right"></span> </p>
								<h5><a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a></h5>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/bcp.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>BANCO DE CREDITO DEL PERU</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"> <span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/scotiabank.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>SCOTIABANK</h4>
								<p>Pago en dolares y soles</p>                      
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="four columns">
						<div class="card">
							<img src="../img/pichincha.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>BANCO PICHINCHA</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/nacion.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>BANCO DE LA NACION</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/continental.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>BANCO CONTINENTAL</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="four columns">
						<div class="card">
							<img src="../img/mastercard.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>MASTERCARD</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/yape.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>YAPE</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/lukita.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>LUKITA</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
				</div>
		
				<div class="row">
					<div class="four columns">
						<div class="card">
							<img src="../img/pagoefectivo.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>PAGO EFECTIVO</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/tunki.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>TUNKI</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
					<div class="four columns">
						<div class="card">
							<img src="../img/ligo.png" class="imagen-pagos u-full-width">
							<div class="info-card">
								<h4>LIGO</h4>
								<p>Pago en dolares y soles</p>
								<p class="precio"><span class="u-pull-right"></span> </p>
								<a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">PAGAR AQUI</a>
							</div>
						</div>
					</div>
				</div>
		
			</div>
		
		
		
			<footer class="footer"> 
				<div class="container">
					<div class="row">
						<div class="four columns">
							<nav class="menu">
								<a class="enlace" href="#"></a>
								<a class="enlace" href="#"></a>
								<a class="enlace" href="#"></a>
							</nav>
						</div>
						<div class="four columns">
							<nav class="menu">
								<a class="enlace" href="#"></a>
								<a class="enlace" href="#"></a>
								<a class="enlace" href="#"></a>
							</nav>
						</div>
					</div>
				</div>
			</footer>
		
			
		</body>
		</html>
	</div>

	<div id="pie">
		<div class="social">
			<div class="icon"><a class="icon-facebook2" href="https://www.facebook.com/"></a></div>
			<div class="icon"><a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a></div>
			<div class="icon"><a class="icon-whatsapp"; href="productos.html"></a></div>
			<div class="icon"><a class="icon-google-plus3" href="google.cl"></a></div>
			<div class="icon"><a class="icon-twitter" href="https://twitter.com/87b y"></a></div>
			<div class="icon"><a class="icon-linkedin" href="https://www.linkedin.com/"></a></div>
		</div>
		<div class="pieresenas">
        	<a>¿Quienes somos?</a><br><br>
        	<a>Términos y condiciones</a>
    	</div>

    	<div class="pieresenas">
        	<a>FaQ</a><br><br>
	    	<a>Derechos son reservados</a><br><br>
	    	<a>Libro de reclamaciones</a>
		</div>
			
	</div>
</div>
<br>
</body>

</html>
