<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> FORMULARIO DE PAGOS</h1>
    <form>
        <label >Nombres</label><br>
        <input type="text"><br>
        <label >Apellidos</label><br>
        <input type="text"><br>
        <label >Dni</label><br>
        <input type="number" id="DNI"><br>
        <label >Fecha de nacimiento</label><br>
        <input type="date"><br>
        <label >Email</label><br>
        <input type="email"><br>
        <label >Numero de tarjeta</label><br>
        <input type="number" id="Numero de tarjeta"><br>
        <label >CVV</label><br>
        <input type="number" id="CVV"><br><br>
        <input type="submit">
        


        
</body>
</html>