<!DOCTYPE html>
<html lang="es">
<head>
<!--Metas-->
	<meta charset="utf-8"/>	
<!--Css-->
	<link rel="stylesheet" type="text/css" href="../css/hercules.css" />
	<link rel="stylesheet" type="text/css" href="../css/monitos.css">
	<link rel="stylesheet" type="text/css" href="/css/pagos.css">
	<link rel="icon"  href="../logolisto.ico">
<!--Js-->


	
</head>

<body>
<div id="contenedor">
	<div class="cabeza">
		<img class="logo" src="../img/logo.png">

		<div id="cabecera">
			<h1>¡REALIZA TUS PAGOS AQUI!</h1>
		</div>

		<div id="navegacion">
            <div class="menu">
				<a class="menu" href="../index.html">Inicio</a>
				<a class="menu" href="../templates/sedes.html">Sedes</a>
				<a class="menu" href="../templates/clases.html">Clases</a>
				<a class="menu" href="../templates/planes.html">Planes </a>
				
				<div class="navicon">
					<input type="checkbox" id="toggle">
					<label for="toggle" class="button">☰</label>
	
					<nav class="nav">
						<a href="../templates/registro.html">Registro/Iniciar</a>
                        <a href="/templates/FaQ.html">FqA</a>
                        <a href="#">Trabaja Con Nosotros</a>
					</nav>
				</div>
			</div>
           
		</div>

	</div>

	<div class="clases">
        <div class="tiposdeclases">
			<h2 class="subtitulo">TARJETAS DE CREDITO</h2>
        	<div class="bcp">
        	    <h2>BANCO DE CREDITO</h2>
        	        <h3><br></h3>
        	    <p>
					<h3>
					</h3>
					<img src="../img/01 bcp.png" class="imagen-pagos u-full-width">
				</p><br>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
			<div class="interbank">
        	    <h2>INTERBANK</h2>
        	        <h3><br></h3>
        	    <p><h3>
					</h3>
					<img src="../img/02 inter.png" class="imagen-pagos u-full-width">
				</p><br>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
			<div class="scotiabank">
        	    <h2>SCOTIABANK</h2>
        	        <h3><br></h3>
        	    <p><h3>
					</h3>
					<img src="../img/03 scot.png" class="imagen-pagos u-full-width">
				</p><br>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
		</div>
		<div class="tiposdeclases2">	
			<div class="continental">
        	    <h2>BANCO CONTINENTAL</h2>
        	        <h3><br></h3>
        	    <p><h3>
					</h3>
					<img src="../img/04 bbva.png" class="imagen-pagos u-full-width">
				</p><br>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
			<div class="nacion">
        	    <h2>BANCO DE LA NACION</h2>
        	        <h3><br></h3>
        	    <p><h3>
					</h3>
					<img src="../img/05 bnp.png" class="imagen-pagos u-full-width">
				</p><br>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
			<div class="pichincha">
        	    <h2>BANCO PICHINCHA</h2>
        	        <h3><br></h3>
        	    <p><h3>
					</h3>
					<img src="../img/06 b pich.png" class="imagen-pagos u-full-width">
				</p><br>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
		</div>
	</div>
	<h2 class="subtitulo">BILLETERA DIGITAL</h2>
	<div class="clases">
        <div class="tiposdeclases">
        	<div class="bcp">
        	    <h2>PAGO EFECTIVO</h2>
        	        <h3><br></h3>
        	    <p>
					<h3>
					</h3>
					<img src="../img/07 p efect.png" class="imagen-pagos u-full-width">
				</p><br>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
			<div class="interbank">
        	    <h2>MASTERCARD</h2>
        	        <h3><br></h3>
        	    <p><h3>
					</h3>
					<img src="../img/08 master.png" class="imagen-pagos u-full-width">
				</p><br>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
			<div class="scotiabank">
        	    <h2>YAPE</h2>
        	        <h3><br></h3>
        	    <p><h3>
					</h3>
					<img src="../img/09 yape.png" class="imagen-pagos u-full-width">
				</p><br>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
		</div>
		<div class="tiposdeclases2">	
			<div class="continental">
        	    <h2>SKRILL</h2>
        	    <p><h3>
					</h3>
					<img src="../img/10 skrill.png" class="imagen-pagos u-full-width">
				</p>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
			<div class="nacion">
        	    <h2>LUKITA</h2>
        	    <p><h3>
					</h3>
					<img src="../img/11 lukita.png" class="imagen-pagos u-full-width">
				</p>
				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
			<div class="pichincha">
        	    <h2>LIGO</h2>
        	    <p><h3>
					</h3>
					<img src="../img/12 tunki.png" class="imagen-pagos u-full-width">
				</p>

				<p>
					<button class="buttcomprar" onclick="location.href='http://127.0.0.1:5500/templates/formulario.html'
					">Adquirir</button>
				</p>	
			</div>
		</div>
	</div>

	<div id="pie">
		<div class="social">
			<div class="icon"><a class="icon-facebook2" href="https://www.facebook.com/"></a></div>
			<div class="icon"><a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a></div>
			<div class="icon"><a class="icon-whatsapp"; href="productos.html"></a></div>
			<div class="icon"><a class="icon-google-plus3" href="google.cl"></a></div>
			<div class="icon"><a class="icon-twitter" href="https://twitter.com/87b y"></a></div>
			<div class="icon"><a class="icon-linkedin" href="https://www.linkedin.com/"></a></div>
		</div>
		<div class="pieresenas">
            
			<a>Términos y condiciones</a><br>
			<a>Derechos son reservados</a>
		</div>
		
	</div>
</div>
<br>
</body>

</html>