<!DOCTYPE html>
<html lang="es">
<head>
<!--Metas-->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">	
<!--Css-->
	<link rel="stylesheet" type="text/css" href="../css/hercules.css" />
	<link rel="stylesheet" type="text/css" href="../css/monitos.css">
    <link rel="stylesheet" type="text/css" href="../css/planes.css">
	<link rel="icon"  href="../logolisto.ico">
<!--Js-->
	
</head>

<body>
<div id="contenedor">
	<div class="cabeza">
		<img class="logo" src="../img/logo.png">

		<div id="cabecera">
			<h1>PLANES</h1>
		</div>

		<div id="navegacion">
            <div class="menu">
				<a class="menu" href="../index.html">Inicio</a>
				<a class="menu" href="../templates/sedes.html">Sedes</a>
				<a class="menu" href="../templates/clases.html">Clases</a>
				<a class="menu" href="../templates/planes.html">Planes </a>
				
				<div class="navicon">
					<input type="checkbox" id="toggle">
					<label for="toggle" class="button">☰</label>
	
					<nav class="nav">
						<a href="../templates/registro.html">Registro/Iniciar</a>
                        <a href="/templates/FaQ.html">FqA</a>
                        <a href="#">Trabaja Con Nosotros</a>
					</nav>
				</div>
			</div>
           
		</div>

	</div> <!-- divvvv   19 - 47-->


    <div class="centro">
			

		<div class="centroplanes">
        	<div class="planes">
        	    <div class="peco">
        	        <h2 class="title">PLAN ECONOMICO</h2>
        	            <h4>S/. 30</h4>
        	        <p>•Acceso a entrenamientos de pesas, funcional y cardio.</p> 
        	        <p>•Clases grupales ("Full Body, baile, Zumba y mas").</p> 
        	        <p>•Clases disponibles 24/7.</p> 
        	        <p>•Clases en vivo.</p> 
        	        <p>•Acceso a trainer y tips.</p> 
        	        <p>•Orientacion nutricional.</p>
					<p>
						<button class="buttcomprar" onclick="location.href='https://gymherculesoficial.github.io/templates/formato_pago.html'
						">Comprar</button>
					</p>
        	    </div>
        	    <div class="pest">
        	        <h2 class="title">PLAN ESTANDAR</h2>
        	            <h4>S/. 50</h4> 
        	        <p>•Acceso a entrenamientos de pesas, funcional y cardio. </p> 
        	        <p>•Clases grupales ("Full Body, baile, Zumba y mas"). </p>
        	        <p>•Clases disponibles 24/7. </p>
        	        <p>•Clases en vivo. </p>
        	        <p>•Acceso a trainer y tips. </p> 
        	        <p>•Orientacion nutricional. </p>
					<p>
						<button class="buttcomprar" onclick="location.href='https://gymherculesoficial.github.io/templates/formato_pago.html'
						">Comprar</button>
					</p>
        	    </div>
        	    <div class="ppre">
        	        <h2 class="title">PLAN PREMIUM</h2>
        	            <h4>S/. 80</h4> 
        	        <p>•Acceso a entrenamientos de pesas, funcional y cardio.</p> 
        	        <p>•Clases grupales ("Full Body, baile, Zumba y mas").</p> 
        	        <p>•Clases disponibles 24/7. </p>
        	        <p>•Clases en vivo. </p>
        	        <p>•Acceso a trainer y tips.</p> 
        	        <p>•Orientacion nutricional. </p>
					<p>
						<button class="buttcomprar" onclick="location.href='https://gymherculesoficial.github.io/templates/formato_pago.html'
						">Comprar</button>
					</p>
        	    </div>

			</div>
		</div>
	</div>

	<div id="pie">
		<div class="social">
			<div class="icon"><a class="icon-facebook2" href="https://www.facebook.com/"></a></div>
			<div class="icon"><a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a></div>
			<div class="icon"><a class="icon-whatsapp"; href="productos.html"></a></div>
			<div class="icon"><a class="icon-google-plus3" href="google.cl"></a></div>
			<div class="icon"><a class="icon-twitter" href="https://twitter.com/87b y"></a></div>
			<div class="icon"><a class="icon-linkedin" href="https://www.linkedin.com/"></a></div>
		</div>
	</div>	
</div>	

<footer class="piegrande">
	<div class="pieresenas">
            
    <a>Términos y condiciones</a><br>
    <a>Derechos son reservados</a>
	</div>
	
</footer>




</body>

</html>

