<!DOCTYPE html>
<html lang="es">
<head>
<!--Metas-->
    <meta charset="utf-8"/> 
<!--Css-->
    <link rel="stylesheet" type="text/css" href="/css/hercules.css" />
    <link rel="stylesheet" type="text/css" href="/css/monitos.css">
    <link rel="stylesheet" type="text/css" href="/css/quienesSomos.css">
    <link rel="icon"  href="/logolisto.ico">
    
<!--Js-->

    
</head>

<body>
<div id="contenedor">
    <div class="cabeza">
        <img class="logo" src="/img/logo.png">

        <div id="cabecera">
            <h1>CONOCE NUESTRA HISTORIA</h1>
        </div>

            <div id="navegacion">
                <div class="navicon">
                    <input type="checkbox" id="toggle">
                    <label for="toggle" class="button">☰</label>
    
                    <nav class="nav">
                        <a href="../templates/registro.html">Registro/Iniciar</a>
                        <a href="/templates/FaQ.html">FqA</a>
                        <a href="/templates/quienes_somos.html">¿Quiénes Somos?</a>
                    </nav>
                </div>
            </div>    
    </div>
    <div class="centro">
        <div class="letras">
            <p>GYM HERCULES nace como una idea de grado de dos estudiantes del INSTITUTO CERTUS, Perú quienes se conocieron en el año 1996. Los estudiantes Nicolás Loaiza y Gigliola Aycardi habían analizado la posibilidad de crear un lugar en donde a través del ejercicio se mejorara la calidad de vida de las personas y que además tuviera proximidad al lugar donde vivían o trabajaban. </p>
            <p>Luego de un minucioso estudio de mercadeo estructuraron, dentro de su proyecto de grado, la idea de cambiar el concepto de gimnasios, a Centros Médico Deportivos con un claro enfoque en salud.</p>
            <p>El objetivo de los nuevos Centros Médico Deportivos era no sólo la consecución de un cuerpo atlético y tonificado, sino la prescripción del ejercicio de acuerdo con la condición física de las personas así como con sus motivaciones, previniendo lesiones y tratando los síntomas de distintos tipos de enfermedades.</p>

            <p>Con esta visión como eje fundamental, los estudiantes acudieron a diversas entidades de financiación con su ambicioso proyecto universitario. En 1997 y luego de tocar muchas puertas el Fondo Nacional de Garantías (FNG) les dio su aval que se convirtió en el comienzo de una carrera de credibilidad en GYM HERCULES.</p>
            
            <p>Con préstamos de algunos bancos, sus ahorros y patrimonio de ese entonces, los jóvenes lograron fundar GYM HERCULES el 14 de julio de 1.997, inaugurando su primera sede el 9 febrero de 1.998 en la carrera séptima con calle 63, cerca del mercado San Antonio.</p>
            
            <p> Cuenta con más 20 sedes en Perú  1.500 afiliados y alrededor de 470 profesionales.</p>
        </div>
        
    </div>

    <div id="pie">
        <a>Términos y condiciones</a><br>
        <a>Derechos son reservados</a>
    </div>
    
</div>



</body>

</html>