<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/registro.css">
  <title>Registro</title>
</head>
<body>
  
  <h1>REGISTRO DE DATOS</h1>
  <section class="form-register">

    <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
    <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
    <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <button class="botons"> REGISTRAR</button>
    <p><a href="#">¿Ya tengo Cuenta?</a></p>
  </section>
  br*5
<footer>
  <p> Derecho reservados</p>
 
</footer>
</body>
</html> 
<button>