<!DOCTYPE html>
<html lang="es">
<head>
<!--Metas-->
	<meta charset="utf-8" />
<!--Css-->
	<link rel="stylesheet" type="text/css" href="../css/hercules.css" />
	<link rel="stylesheet" type="text/css" href="../css/monitos.css">
	<link rel="stylesheet" type="text/css" href="../css/sedes.css">
	<link rel="icon"  href="../logolisto.ico">
<!--Js-->


</head>

<body>
<div id="contenedor">
	<div class="cabeza">
		<img class="logo" src="../img/logo.png">

		<div id="cabecera">
			<h1>SEDES</h1>
		</div>

		<div id="navegacion">
            <div class="menu">
				<a class="menu" href="../index.html">Inicio</a>
				<a class="menu" href="../templates/sedes.html">Sedes</a>
				<a class="menu" href="../templates/clases.html">Clases</a>
				<a class="menu" href="../templates/planes.html">Planes</a>
				
				<div class="navicon">
					<input type="checkbox" id="toggle">
					<label for="toggle" class="button">☰</label>
	
					<nav class="nav">
						<a href="#">Inicio</a>
						<a href="#">Registro/Iniciar</a>
						<a href="#">Trabajo con nosotros</a>
					</nav>
				</div>
			</div>
           
		</div>

	</div>

	<div class="centro">
		
		<div class="service">
			<div class="texto">
			 <h6>
				 <p>  BUSCAR POR: DIRECCION</p>
			 </h6>
			</div>
			<div class="busqueda">
			  <input type="search" id="search" placeholder="    Ingresa Tu Ciudad" />
			  <button class="btnsearch">Buscar</button>
			</div>  
		</div>
			  ......
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<br><br>
	
	</div>

	<div id="pie">
		<div class="social">
			<div class="icon"><a class="icon-facebook2" href="https://www.facebook.com/"></a></div>
			<div class="icon"><a class="icon-instagram" href="https://www.instagram.com/?hl=es-la"></a></div>
			<div class="icon"><a class="icon-whatsapp"; href="productos.html"></a></div>
			<div class="icon"><a class="icon-google-plus3" href="google.cl"></a></div>
			<div class="icon"><a class="icon-twitter" href="https://twitter.com/87b y"></a></div>
			<div class="icon"><a class="icon-linkedin" href="https://www.linkedin.com/"></a></div>
		</div>
		<div class="pieresenas">
        	<a>¿Quienes somos?</a><br><br>
        	<a>Términos y condiciones</a>
    	</div>

    	<div class="pieresenas">
        	<a>FaQ</a><br><br>
	    	<a>Derechos son reservados</a><br><br>
	    	<a>Libro de reclamaciones</a>
		</div>

        .....<br><br><br><br><br><br><br><br>
		
		
	</div>
</div>
<br>
</body>

</html>
